:root {
    background: linear-gradient(to left, #001040, #002070);
}

body {
    color: #aabbff;
    font-family: "Roboto";
    padding: 10px;
}

th.letter {
    text-align: center;
    font-size: 28px;
    background-color: #0006;
  
    display: block;
    margin: 4px 10px 4px 0px;
    padding: 6px 15px 6px 15px;
}

th.response {
    text-align: left;
    font-size: 18px;
    
    margin: 4px 10px 4px 0px;
    padding: 0px 10px 0px 10px;
    background-image: linear-gradient(to left, #0000, #0006);

    width: 100vw;
}

a {
    color: #aabbff;
}
