:root {
    background: #001040;
}

body {
    color: #aabbff;
    font-family: "Roboto";
    padding: 10px;
}

th.letter {
    text-align: center;
    font-size: 28px;
    padding: 6px 25px 6px 10px;
}

th.response {
    text-align: left;
    font-size: 18px;
}